.App{
  background: linear-gradient(blue, white);
  height:500px;
}
.header{
  text-align: center;
  padding-top :100px; ;
  height: 200px;
  color: white;
}
div.row{
  display: flex;
  justify-content: center;
}
button.btn1.btn.btn-success.btn-lg{
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin-left: 40px;
}
button.btn2.btn.btn-danger.btn-lg{
  border-radius: 100%; 
  height: 100px;
  width: 100px;
  margin-right: 40px;
}
h2{
  padding-top: 30px;
}